<div class="container">
  <h2>Are you ready to do anything for dethklok?</h2>
  <p>Sign up!</p>
  <form action='/users' method='post'
    <p>
      Email: <input type="text" name="email"><br>
      Password: <input type="password" name="password"><br>
      <input type="submit" value="Go!">
    </p>
  </form>
</div>